<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuedadasEventos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitiy.SeleccionarUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.EventosAsistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.DetalleEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.UsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.RegistroActivity"
            android:exported="false"
            android:theme="@style/Theme.QuedadasEventos" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsmPagDft5_ranT8J3jE5l2d0pE5Fzqho" />

        <activity
            android:name=".activitiy.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.EventosActivity"
            android:exported="false" />
        <activity
            android:name=".activitiy.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>